{% extends "ims/base.html" %}

{% block content %}
<div class="container my-3">
<p>
    Welcome to [Shop Name]
    At [Shop Name], we believe in providing our community with high-quality, essential goods at affordable prices.
    Located in the heart of [Location], our shop has been a trusted source for basic commodities and daily necessities
    for [number] years. We take pride in offering a wide range of products, exceptional customer service, and a warm,
    welcoming shopping experience. <br><br>

    Our Mission
    Our mission is to make everyday life easier for our customers by offering a convenient and reliable place to
    purchase all their essential needs. From groceries and household items to personal care products and stationery, we
    strive to be your go-to shop for everything you need to keep your household running smoothly.<br>

    Our Products
    At [Shop Name], you'll find a diverse selection of basic commodities, including:<br>

    <li>Groceries: Fresh produce, dairy products, canned goods, snacks, and beverages.</li>
    <li>Household Items: Cleaning supplies, kitchen essentials, and home maintenance products.</li>
    <li>Personal Care: Toiletries, hygiene products, and beauty essentials.</li>
    <li>Stationery: Office supplies, school materials, and writing instruments.</li> <br>
    
    Our Commitment to the Community<br>
    As a local business, we are deeply committed to supporting our community. We actively participate in local events,
    support neighborhood initiatives, and source products from local suppliers whenever possible. Our goal is to create
    a positive impact and contribute to the well-being of our neighbors.<br>

    Contact Us<br>
    If you have any questions or need assistance, please don't hesitate to contact us:<br>
<ul>
    <li>Phone: +25411111111</li>
        <li>Email: xyz@shop.com</li>
            <li>Address: Eldoret town</li>
    </ul>

</p>
</div>
{% endblock %}