{% extends "ims/base.html" %}


{% block content %}

<div class="container">
    <div class="card bg-light mb-3" style="max-width: 40rem;">
    <div class="card-header">Order Removal</div>
    <div class="card-body">
        <h4 class="card-title">Confirm delete</h4>
        <form method="POST" action="">
            {% csrf_token %}
            <p> Are you sure you want to delete <b>{{ order_to_delete }}</b> ?</p><br>
            <h2>Order Details</h2>
            <li>Created By : {{ order_to_delete.user }}</li>
            <li>Product : {{ order_to_delete.product.name }}</li>
            <li>Supplier : {{ order_to_delete.supplier }}</li>
            <li>Order Status: {{ order_to_delete.status }}</li>
            <li>Order Quantity : {{ order_to_delete.quantity }}</li>
            <button type="submit" class="btn btn-warning">
                <a href="{{ request.META.HTTP_REFERER|default:'/' }}" style="text-decoration: none; color: black;">Cancel</a>
              </button> 
              <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
  